<footer ng-controller="radioController">
  <div id="radio-image" style="background-image:url({{radio.icon_thumb}})">
    <img src="assets/loader2.svg" ng-show="loading"/>
  </div>
  <aside id="radio-info">
    <h4>{{radio.title}}</h4>
    <p><marquee>Susa Onda Radio <span ng-if="radio.desc">{{radio.desc}}</span> | la voce della Valle</marquee></p>
  </aside>
  <button id="radio-control" ng-click="playPause()"><i class="fa fa-play fa-3x"></i></button>
  <!---Media element for radio playback -->
  <audio id="radio-audio" preload="none" src="http://172.245.60.41:8000/stream/1/" type="audio/mpeg"></audio>
</footer>
