<!-- Universal header -->
<header>
  <a onclick="goBack()"><i class="fa fa-angle-left fa-2x"></i></a>

  <a><i ng-click="reload()" class="fa fa-refresh"></i></a>
</header>


 <div class="info">
 <center> <h1> Interagisci con Susa Onda Radio </h1></center>
 <div style="margin: 25px 25px 25px;">
        <h2>Whatsapp: <a href="https://api.whatsapp.com/send?phone=393331772838">333.1772838</a></h2>
		<p></p>
		<h2>Messanger: <a href="m.me/SusaOndaRadio" target="_blank">Susa Onda Radio</a></h2>
		<p></p>
		<h2>Diretta: <a href="mailto:susaondaradio@gmail.com" target="_blank">diretta@susaondaradio.it</a></h2>
        <p ng-bind-html="post.excerpt.rendered"></p>
      </div>
	  </div>
