<!-- Universal header -->
<style>
.verticalhorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}
</style>
<header>
  <a onclick="openMenu()"><img src="assets/grid.svg"/></a>
  <img src="assets/masthead.svg"/>
  <a><i ng-click="reload()" class="fa fa-refresh"></i></a>
</header>

<img src="assets/loader.svg" ng-show="loading" id="loader"/>

<div class="post-grid-holder">
<div class="verticalhorizontal">
    <img src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/543945_565474590132993_397124060_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=RdkbwpFtvUoAX_awnJE&_nc_ht=scontent-mxp1-1.xx&oh=fa1cd8ae91a3299a143b0a2bdd4dd723&oe=5E9D738D" alt="centered image" />
	</div>
</div>
